@import url('https://fonts.googleapis.com/css');
:root{

    --yellow: #ffa818;
    --text-color: #e9e9e9;
    --bg-color: #1a1b26;

}

a{
    outline: none;
    text-decoration: none;
    color: var(--text-color);
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: Roboto Slab;
}


.main-wrapper {
    background-color: black;
    color: white;
}